[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
websocket-client = {extras = ["optional"], version = "*"}
rel = "*"
boto3 = "*"
boto3-stubs = {extras = ["essential"], version = "*"}
requests = "*"

[dev-packages]

[requires]
python_version = "3.10"
